---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

## Selected publications
{% assign selected_pubs = site.publications | where: "selected", true | sort: "date" | reverse %}
{% for post in selected_pubs %}
  {% include archive-single.html show_thumbnail=true %}
{% endfor %}

## Other publications
{% assign other_pubs = site.publications | where_exp: "p", "p.selected != true" | sort: "date" | reverse %}
{% for post in other_pubs %}
  {% include archive-single.html %}
{% endfor %}
